AddDefaultCharset utf-8

Redirect 301 /www/markup/xml/domdtdef/domdtdef-work.en.html.u8 /www/markup/xml/domdtdef/domdtdef
Redirect 301 /www/markup/xml/domdtdef/domdtdef-work.en.html /www/markup/xml/domdtdef/domdtdef
Redirect 301 /www/markup/xml/domdtdef/domdtdef-work.en /www/markup/xml/domdtdef/domdtdef
Redirect 301 /www/markup/xml/domdtdef/domdtdef-work /www/markup/xml/domdtdef/domdtdef

## License: Public Domain.
